# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments (if you ever make one)
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore model/vectorizer pickle files if not sharing
*.pkl
